# Ignore everything
!*/
!.gitignore

src/packages/
!*.c
src/.vs/sokoban/v14/.suo
src/ReadMe.txt
src/packages.config
src/sokoban.VC.db
src/sokoban.sln
src/sokoban.vcxproj
src/sokoban.vcxproj.filters
src/stdafx.cpp
src/stdafx.h
src/targetver.h
/doc/generated/*
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
src/sokoban.VC.VC.opendb
src/res/Button.png
!src/Debug/res/*
*.ilk
*.tlog
*.pdb
*.idb
build/
src/logs.txt
src/Debug/*
src/Release/*
src/YASGen0_Generator.c
res/saves.data
src/allegro.log
